ion-card {
  --background: #FFF;

  ion-card-content{
    .title {
      text-align: center;
      margin-bottom: 10px; 
    }
  
    .description {
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
      color: #000;
    }
  
    .price {
      font-size: 32px;
      font-weight: 600;
      color: #000;
    }

    ion-button {
      --background: #27ae60;
    }
  }
}