<ion-header>
  <ion-toolbar>
    <ion-title>Finalizar Pedido</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        <ion-card-title class="title">
          {{title}}
        </ion-card-title>
        <ion-img src={{image}} ></ion-img>
        <h1 class="price">{{price}}</h1>
      </ion-card-content>
    </ion-card>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Qual o CEP:</ion-label>
      <ion-input #cep></ion-input>
      <ion-button color="success" (click)="buscar(cep)">Buscar</ion-button>
    </ion-item>
    <div class="ion-padding">
        <ion-button color="primary" (click)="voltar()" expand="block">Finalizar pedido</ion-button>
    </div>
  </div>
</ion-content>
